:root {
    --Primary-Green-Color: #2EA658;
    --Primary-Orange-Color: #F2B705;
    --Primary-Red-Color: #F20530;
    --Neutral-Green-Color: #05FF15;
    --Neutral-Orange-Color: #f5cb4c;
    --Neutral-DarkGray-Color: #707070;
}

.darkGrayColor {
    color: var(--Neutral-DarkGray-Color);
}

.centerContent {
    margin: 0 30%;
}

/*X Icon styling and hover functionality*/
.xIcon--style {
    background-color: var(--Primary-Green-Color);
    height: 80px;
    position: relative;
    width: 20px;
    transform: rotate(45deg);
    border:none;
    }
.xIconRight--style {
    background-color: var(--Primary-Green-Color);
    height: 80px;
    position: absolute;
    width: 20px;
    border: none;
    transform: rotate(315deg);
}

.icon--container:hover .xIcon--style {
    background-color: var(--Neutral-Green-Color);
}

.icon--container:hover .xIconRight--style {
    background-color: var(--Neutral-Green-Color);
}

/*O Icon styling and hover functionality*/
.oIcon--style {
    width: 80px;
    height: 80px;
    background: var(--Primary-Orange-Color);
    border-radius: 50%
}

.oIcon--style:hover {
    background-color: var(--Neutral-Orange-Color);
}

/*Play Icon styling and hover functionality*/
.playIcon--style {
    width: 0;
    height: 0;
    border-left: 40px solid transparent;
    border-right: 40px solid transparent;
    border-bottom: 80px solid var(--Neutral-Green-Color);
    transform: rotate(90deg);  
}

.playIcon--style:hover {
    border-bottom: 60px solid var(--Primary-Green-Color);
}

.gameboard__restart--style {
    background-color: var(--Primary-Red-Color);
    height:25px;
    width: 25px;
}

/*Standard page setup*/
.page__container {
    text-align: center;
    background-color: white;
}

@media only screen and (min-width: 400px) {
    .page__container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 340px;
        margin:auto;
    }
    
}

@media screen and (min-width:600px) {
    .page__container {
        border: 1px solid var(--Neutral-DarkGray-Color);   
        padding: 10px 40px;
        margin-top: 20px;     
    }
}