.landingPage--page__container {
    text-align: center;
}

.landingPage--PickIcon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage--iconChoice__container {
    display: flex;
    min-width: 300px;
    max-width: 340px;
}

.landingPage--iconOption__container {
    flex: 1;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: white;
    border: none;
}

.landingPage--xIcon__hover:hover {background-color: #3e8e41}

.landingPage--iconOption__container:active, .landingPage--Play__style:active {
    transform: translateY(4px);
}

.landingPage--Play__style {
    background-color: white;
    border: none;
}

@media only screen and (max-width: 380px) {
    .landingPage--promoImage__style {
        width: 50%;
    }
    
}

@media only screen and (min-width: 400px) {
    .landingPage--page__container {
        display: flex;
        flex-direction: column;
        min-width: 300px;
        max-width: 340px;
        margin:auto;
    }
    
}

@media screen and (min-width:600px) {
    .landingPage--page__container {
        border: 1px solid var(--Neutral-DarkGray-Color);   
        padding: 10px 40px;
        margin-top: 20px;     
    }
}

@media only screen and (min-width: 1080px) and (max-height: 680px) {
    .landingPage--promoImage__style {
        width: 50%;
        margin: auto;
    }    
    
}
