.landingPage--page__container {
    text-align: center;
}

.landingPage--PickIcon__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landingPage--iconChoice__container {
    display: flex;
    min-width: 300px;
    max-width: 340px;
}

.landingPage--iconOption__container {
    flex: 1;
    justify-content: center;
    align-content: center;
    display: flex;
    background-color: white;
    border: none;
}

.landingPage--xIcon__hover:hover {background-color: #3e8e41}

.landingPage--iconOption__container:active, .landingPage--Play__style:active {
    transform: translateY(4px);
}

.landingPage--Play__style {
    background-color: white;
    border: none;
}

@media only screen and (max-width: 380px) {
    .landingPage--promoImage__style {
        width: 50%;
    }
    
}

